<div class="grid grid-cols-3 grid-rows-2 gap-1 mt-4" style="height: 408px">
  <div class="row-span-2 col-span-2">
    <img src="/assets/cooking.jpg" alt="cooking" class="object-cover w-full rounded" style="height: 406px">
  </div>
  <div>
    <img src="/assets/boiling.jpg" alt="boiling" class="object-cover w-full rounded" style="height: 200px">
  </div>
  <div>
    <img src="/assets/frying.jpg" alt="frying" class="object-cover w-full rounded" style="height: 200px">
  </div>
</div>

<p class="text-right text-gray-400 text-sm">
  <span>Photos by
    <a href="https://unsplash.com/@edgarraw?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"
      class="underline" target="__blank">
      Edgar Castrejon
    </a>
    on
    <a href="/@edgarraw?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" class="underline"
      target="__blank">Unsplash</a>
  </span>
</p>
